<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="RPG Manager"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RPGManager">
        <activity
            android:name=".activities.MainActivity2"
            android:exported="false" />

        <receiver
            android:name=".receivers.DiceReceiver"
            android:exported="false" />

        <activity
            android:name=".activities.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DiceRollActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CharacterDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CharacterListActivity"
            android:exported="false" />
        <activity android:name=".activities.CreateCharacterActivity" />
        <activity android:name=".activities.EditCharacterActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>